*
{
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    background-color: rgba(0, 0, 0, 0.899);
    width: 100%;
    height: 100%;
}
a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 20px;
    padding: 8px;
    border-radius: 15px;
}
.logo a
{
    font-size: 40px;
}
.container
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.home a
{
    margin-left: 20px;
}
.home a:hover
{
    border-bottom: 2px solid aqua;
    transition: all 0.2s steps(1);
    transform: translateX(20px);
}
.hire a
{
    background-color: aqua;
    font-weight: bolder;
    color: black;
}
.hire a:hover
{
    background-color: aqua;
    font-weight: bolder;
    color: black;
    box-shadow: 1px 1px 30px aqua;
}
#profile
{
    border-bottom: 3px solid aqua;
}
.center
{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img
{
    height: 550px;
    width: 500px;
    margin-right: 20px;
    /* border: 2px solid aqua; */
}
h1{
    color: white;
}
span
{
    color: aqua;
}
p
{
    color: white;
    letter-spacing: 2px;
}
#resume
{
    background-color: aqua;
    font-weight: bolder;
    color: black;
}
#resume:hover
{
    box-shadow: 1px 1px 30px aqua;

}
