body
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(55, 52, 52, 0.825); */
    /* background: linear-gradient(to right, #D4145A, #FBB03B ); */
    background: radial-gradient(white, #FBB03B, red,black );
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 400px;
    border: 8px solid white;
    border-radius: 30px;
    background-color: black;
    /* background: linear-gradient(#FF512F, #DD2476); */
}
input
{
    text-align: end;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    border: 3px solid black;
    width: 300px;
    height: 60px;
}
button
{
    width: 80px;
    height: 60px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
}
button:hover
{
    background-color: rgba(191, 191, 191, 0.788);
    /* background: linear-gradient(to top,#FF5F6D, #FFC371); */
}
.inner
{
    display: inline-block;
    margin: 6px;
}
.box
{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}